

#page-created-point {
    background: #0E0A14;
    opacity: 0.95;
    display: flex;
    justify-content: center;
    height: 100vh;
    padding: 0 30px;
    flex-direction: column;
    align-items: center;
}

.content-created-point {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}
.content-created-point svg {
    margin: 0 auto;
    display: flex;
    height: 3em;
    width: 3em;
}

#page-created-point h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #F0F0F5;
    margin-top: 3%;
}

#page-created-point-header a {
    text-decoration: none;
}
#page-created-point-header a:visited  {
    color: rgb(85,26,139);
}
.content-created-point svg {
    color: rgb(85,26,139);
}

#page-created-point-header {
    padding: 0 30px;
    padding-top: 20px;
    width: 100vw;
}
